<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{userName}) %>
    <title>详情</title>
    <style>
body{
  height: 900px;
  background: linear-gradient(to bottom right,  rgb(85, 187, 235),rgb(236, 182, 138));
}

        .layui-card{
            margin: 0 auto;
            width: 80%;
            border: 1px solid rgba(163, 163, 163.);
            border-radius: 5px;
            margin-top: 30px;
            padding: 15px;
            background: rgba(255, 255, 255, 0.6);
            
        }
        .right{
            float: right;
        }
    </style>
</head>

<body>
    <%- include('nav',{}) %>
   
        <div class="layui-card">
            <div class="layui-card-header">
                <h1>文章标题</h1>
                <div class="right">2020-10-10-15:15</div>
            </div>
            
            <div class="layui-card-body">
              文章内容：卡片式面板面板通常用于非白色背景色的主体内<br>
              从而映衬出边框投影
            </div>
          </div>
              
    
</body>

</html>