<!DOCTYPE html>
<html>

<head>
  <title>
   
  </title>
  <%- include('head',{}) %>
<style>
body{
  height: 900px;
  background: linear-gradient(to bottom right,  rgb(85, 187, 235),rgb(236, 182, 138));
}

  #content{
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;
  }
  
  .layui-table td{
    line-height: 50px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(20,81,154,0.2);
    /* border-bottom: 1px dashed rgba(20,81,154,0.4); */
    
  }
</style>
</head>

<body>
  <%- include('nav',{}) %>

  <div id="content">
    
    <table class="layui-table" >
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <!-- <thead>
        <tr>
          <th>昵称</th>
          <th>加入时间</th>
          <th>签名</th>
        </tr> 
      </thead> -->
      <tbody>
        <tr>
          <td>贤心</td>
          <td>2016-11-29</td>
          <td><a href="details">人生就像是一场修行</a></td>
          <td>删除</td>
          <td>编辑</td>
        </tr>
        
        <tr>
          <td>许闲心</td>
          <td>2016-11-28</td>
          <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
          <td>删除</td>
          <td>编辑</td>
        </tr>

        <tr>
          <td>233</td>
          <td>2016-11-28</td>
          <td>时间的无涯的荒野里…</td>
          <td>删除</td>
          <td>编辑</td>
        </tr>
        
      </tbody>
    </table>
    
  </div>

</body>

</html>