<ul class="layui-nav" style="background: linear-gradient(to right, black)">.
    <li class="layui-nav-item">
      <a href="/">首页</a>
    </li>
   
    <li class="layui-nav-item" style="float: right;">
      <a href="login">个人中心</a>
     
    </li>
    
    <li class="layui-nav-item" style="float: right;">
      <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">用户名</a>
      
    </li>

    <li class="layui-nav-item" style="float: right;">
        <a href="news">写文章</a>
      </li>
  </ul>