<ul class="layui-nav">
    <li class="layui-nav-item">
      <a href="/">首页</a>
    </li>
   
    <li class="layui-nav-item" style="float: right;">
      <a href="">个人中心</a>
    </li>
    
    <li class="layui-nav-item" style="float: right;">
      <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">用户名</a>
      <dl class="layui-nav-child">
        <dd><a href="javascript:;">修改信息</a></dd>
        <dd><a href="javascript:;">安全管理</a></dd>
        <dd><a href="javascript:;">退了</a></dd>
      </dl>
    </li>

    <li class="layui-nav-item" style="float: right;">
        <a href="news">写文章</a>
      </li>
  </ul>