<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head',{}) %>
    <title>写文章</title>
    <style>
        body {
            height: 700px;
            background: linear-gradient(to top left, rgb(161, 168, 233), #48b1e6);

        }

        .layui-input-block {

            margin: 30px;
        }

        .area {
            margin: 0 auto;
            width: 1080px;
        }

        .ttarea {
            width: 1080px;
            height: 260px;
        }

        .time {
            display: inline-block;
            margin-top: 10px;
            color: rgb(58, 56, 56);
            margin-left: 30px;
        }

        button {
            margin-top: 5px;
            display: inline-block;
            float: right;
            margin-right: 30px;
            width: 90px;
        }
    </style>
</head>

<body>
    <%- include('nav',{userName}) %>
   
    <form action="article/add" method="POST">
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入文章标题"
                        autocomplete="off" class="layui-input">
                </div>

                <div class="area">
                    <textarea class="ttarea" name="textarea" id=""></textarea>
                </div>
                
                <input type="file">
                <button type="submit" class="layui-btn layui-btn-sm">发布</button>
            </div>
        </div>
    </form>
</body>

</html>